services:
  web:
    build: .
    hostname: npm-registry
    ports: 
      - "8000:3000"
    environment:
      - DATABASE_STRING=mongodb://mongodb:27017
      - .env
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLLING_INTERVAL=1000
    volumes:
      - .:/app
      - next_cache:/app/.next
    command: sh -c "npm install && npm run dev"
  mongodb:
    image: "mongodb/mongodb-community-server:latest"
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-init/:/docker-entrypoint-initdb.d/
volumes:
  mongo-data: {}
  next_cache: {}